* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    font-family: Arial, sans-serif;
}
.player{
width: 320px;
background: #020617;
color: #f8f8f8;
padding: 20px;
border-radius: 16px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
text-align: center;
}
.cover img {
width: 100%;
height: 220px;
object-fit: cover;
border-radius: 10px;
margin-bottom: 15px;
}
.song-info h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.song-info p {
  font-size: 0.9rem;
  color: #94a3b8;
}
.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
  font-size: 0.75rem;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.controls button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f8fafc;
  cursor: pointer;
}

.controls button:hover {
  color: #38bdf8;
}
